name: Check for version and revision bumps in PR

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  check_changes_and_versions:
    name: Check for changes and version bumps
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.MATRIX }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: '0'

      - name: Verify changes and versions
        run: |
          GIT_DIFF_BASE='${{ github.event.pull_request.base.sha }}'
          GIT_DIFF_HEAD='${{ github.event.pull_request.head.sha }}'
          ./scripts/ci_version_changed_check.sh "$GIT_DIFF_BASE" "$GIT_DIFF_HEAD"
